h1{
    text-align: center;
    padding:0.5em 0;
    background:#eee;
    margin-bottom: 1em;
}

.stand-out {
    background-color: yellow;
}

.income {
    background: #abe4b8;
}

.constructure-info {
    background: #e8afc9;
}

.area-info {
    background: #a0c3e8;
}

.info {
    text-align: right;
}